.flex {
  display: flex;
}

.justifycenter {
  justify-content: center;
}

.itemscenter {
  align-items: center;
}

.border-red {
  border: 2px solid red;
}

.bg-black {
  background-color: black;
  color: white;
}

.bg-grey {
  background-color: #121212;
  color: white;
}

.rounded {
  border-radius: 8px;
}

.invert {
  filter: invert(1);
}
